body {
  background-color: #181818;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.92);
}

h1 {
  font-size: clamp(24px, calc(14.4px + 2vw), 40px);
}

.title-text {
  padding: 30px 15px 10px 15px;
}

.project-desc {
  overflow: hidden;
  flex-grow: 2;
  margin: 15px;
  font-size: 14px;
  height: 50px;
}

.project-desc-full {
  margin: 15px;
  font-size: 14px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90vw;
  height: 12vh;
  margin-top: 7px;
  border-bottom: 1px solid #383838;
}

.item img {
  flex-grow: 1;
  height: 55px;
  width: 55px;
}

.item button {
  flex-grow: 1;
  height: 25px;
  width: 47px;
  margin-right: 15px;
  text-align: center;
  background-color: #383838;
  color: rgba(255, 255, 255, 0.92);
  border-radius: 12px;
  border: none;
}

.project-group {
  margin: 15px;
}

i {
  color: rgba(255, 255, 255, 0.92);
  font-size: 40px;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.about {
  padding: 30px 15px 10px 15px;
}

.about-title {
  margin: 0px;
}

#spar {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-demo {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.expanded-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-btn-container {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-btn {
  height: 25px;
  width: 60px;
  margin: 10px;
  text-align: center;
  background-color: #383838;
  color: rgba(255, 255, 255, 0.92);
  border-radius: 12px;
  border: none;
}

.project-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.92);
}

.project-link a:visited {
  color: rgba(255, 255, 255, 0.92);
}

.close-btn {
  background-color: #181818;
  border: none;
  height: 20px;
  width: 20px;
}

.title-close {
  margin: 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fa-times-circle {
  color: rgba(255, 255, 255, 0.92);
  font-size: 24px;
}

.thumbnail {
  border-radius: 5px;
}

.transform {
  transform: translateY(0%) translateZ(0px);
}

#symposium {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#workout {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
