/*style the nav bar*/
.nav-li {
  display: inline;
  padding: 30px;
  font-size: 30px
}

.nav-container {
  padding-top: 40px;
  text-align: center;
}

a {
  text-decoration: none;
}

a:link {
  color: black;  
}
a:visited {
  color: rgb(38, 2, 121);
}
a:hover {
  color: black;
  text-decoration: underline;
}
a:active {
  color: rgba(46, 46, 102, 0.815)
}

h2 {
  font-size: 35px;
  color: rgb(70, 6, 219);
}

ol {
  font-size: 22px;
}

p {
  font-size: 25px;
}

h3 {
  font-size: 27px;
  color: rgb(70, 6, 219);
}

.center {
  text-align: center;
}

.contact-li {
  font-size: 22px;
  padding: 10px;
}

body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-style: solid;
  border-width: 5px;?
}

img {
  width: 100%;
}

img.rounded {
  border-radius: 12px;
}

main  .wrapper  h2 {
  padding-left: 10px;
  margin-bottom: 0;
}

/*style the intro section*/
main .intro {
  font-size: 35px;
  padding: 20px;
  text-align: center;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 40px;
}

.item-double {
  flex: 2;
  margin: 40px;
}

@media all and (min-width: 800px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: column;
  }
